.app-wrapper {
  padding-top: 100px;
  width: 100vw;
  height: 89vh;
  background-image: url("../../assets/img/total_rickall.jpg");
  background-size: 100%;
  overflow: hidden;
}

.app {
  position: relative;
  width: 1024px;
  margin: -2px auto auto auto;
  padding: 20px 0 20px 0;
  background-color:  #fffeef;
}
